<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google font from step 5 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>


    <link rel="stylesheet" href="../static/style.css">
    <title>Checkout</title>
</head>

<body onload="addYear()">

    <header>
      <h1 id="webname">MuseumName</h1>
  
      <nav>
        <a href="../index.html">Home</a>
        <a href="visit.html">Visit</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="fun.html">Fun</a>
        <!-- <a href="tickets.html">Tickets</a> -->
        <a href="tickets.html" class="cta">Buy Tickets</a>
      </nav>
    </header>
  
    <div class="main">
      <h2>Checkout</h2>
  
      <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
  
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
  
        <label for="quantity">Ticket Quantity:</label><br>
        <input type="number" id="quantity" name="quantity" min="1" required><br><br>
  
        <button type="submit">Submit</button>
      </form>
    </div>
  
    <footer>
      <p id="copyYear"></p>

    </footer>
  
  </body>
  