<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google font from step 5 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>


    <link rel="stylesheet" href="../static/style.css">
    <title>Exhibitions</title>
</head>

<body>

    <header>
      <h1 id="webname">MuseumName</h1>
  
      <nav>
        <a href="../index.html">Home</a>
        <a href="visit.html">Visit</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="fun.html">Fun</a>
        <!-- <a href="tickets.html">Tickets</a> -->
        <a href="tickets.html" class="cta">Buy Tickets</a>
      </nav>
    </header>
  
    <div class="main">
      <h2>Exhibitions</h2>
  
      <h3>Exhibition 1: jorge 1</h3>
      <p>
        example description
      </p>
  
      <h3>Exhibition 2: jorge 2</h3>
      <p>
        example description 2
      </p>
    </div>
  
    <footer>
      <p>&copy; 2026 MuseumName. All rights reserved.</p>
    </footer>
  
  </body>
  
</html>