<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="../static/style.css">

  <!-- JS -->
  <script src="../static/script.js" defer></script>

  <title>Fun</title>
</head>

<body onload="addYear()">

  <header>
    <h1 id="webname">MuseumName</h1>

    <nav>
      <a href="../index.html">Home</a>
      <a href="visit.html">Visit</a>
      <a href="exhibitions.html">Exhibitions</a>
      <a href="fun.html">Fun</a>
      <a href="tickets.html" class="cta">Buy Tickets</a>
    </nav>
  </header>

  <div class="main">

    <!-- Flexbox container lab 5 -->
    <div class="mainLayout">

      <div class="item1">
        <h2>Welcome to the Museum</h2>

        <ul>
          <li>Scavenger hunt through the exhibits</li>
          <li>Interactive art stations</li>
          <li>Family-friendly guided tours</li>
          <li>Photo spots around the museum</li>
        </ul>

        <!-- If you previously had a "show list" button, comment it out like this: -->
        <!-- <button onclick="showList()">Click to show list</button> -->
      </div>

      <div class="item2">
        <h3>Museum Highlight</h3>

        <img class="funIMG"
            src="../static/museum.jpg"
            alt="Museum highlight">

        <p> popular exhibits this season</p>
      </div>

      <div class="item3">
        <h3>Museum Spotlight Video</h3>

        <div class="videoContainer">
          <iframe 
            src="https://www.youtube.com/embed/MHo928fd2wE?si=iFUPab6D4vDEfUml"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
          </iframe>
        </div>
    </div>

      <div class="item4">
        <div class="container">
            <h2>Need Some Advice?</h2>
        
            <p id="adviceText">
              Click the button to get a random piece of advice!
            </p>
        
            <button onclick="getAdvice()">Get Advice</button>
          </div>
      </div>

    </div>
  </div>

  <footer>
    <p id="copyYear"></p>
  </footer>

</body>
</html>