<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google font from step 5 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>


    <link rel="stylesheet" href="../static/style.css">

    <title>Tickets</title>
</head>

<body onload="addYear()">

    <header>
      <h1 id="webname">MuseumName</h1>
  
      <nav>
        <a href="../index.html">Home</a>
        <a href="visit.html">Visit</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="fun.html">Fun</a>
        <a href="tickets.html" class="cta">Buy Tickets</a>
      </nav>
      
    </header>
  
    <div class="main">
      <h2>Buy Tickets</h2>

      <button id="ticketBtn" onclick="showTickets()">Click to view ticket options</button>


      <!-- new from lab 4 -->
      <button id="compareBtn" onclick="showComparison()">
        Compare ticket options
      </button>
      
      <div id="comparisonSection">
        <h3>Ticket Comparison</h3>
        <p>Adults: Full access to all exhibits.</p>
        <p>Students: Discounted with valid ID.</p>
        <p>Children: Reduced pricing for ages 3–17.</p>
      </div>


      <!-- option C lab 4 part 5 -->
      <h3>Ticket Total Calculator</h3>

      <label for="ticketType">Ticket Type:</label>
      <select id="ticketType">
        <option value="Adult">Adult</option>
        <option value="Student">Student</option>
        <option value="Child">Child</option>
      </select>

      <label for="ticketQty">Quantity:</label>
      <input type="number" id="ticketQty" min="1" value="1">

      <!-- <button type="button" id="calcBtn">Calculate Total</button> -->
      <button type="button" id="calcBtn" onclick="calcTotal()">Calculate Total</button>
      <p id="totalMsg"></p>

  
      <table id="ticketTable">
        <tr>
          <th>Ticket Type</th>
          <th>Description</th>
          <th>$Price$</th>
        </tr>
        <tr>
          <td>Adult</td>
          <td>General admission for ages 18 and over</td>
          <td>$15</td>
        </tr>
        <tr>
          <td>Student</td>
          <td>Student ID required</td>
          <td>$10</td>
        </tr>
        <tr>
          <td>Child</td>
          <td>Ages 3-17</td>
          <td>$8</td>
        </tr>
      </table>
  
      <p>
        <a href="checkout.html">Proceed to Checkout</a>
      </p>
    </div>
  
    <footer>
      <p id="copyYear"></p>

    </footer>
  
  </body>
  
  </html>